---
title: Team Lewag
---

<div class="text-center contacts">
  <h1>Our Team</h1>
  <p>Get in touch with us</p>
</div>
  <div class="container contacts">
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">
      <%= image_tag "julien.png", class: "img-circle" %>
      <h2>Julien</h2>
      <p>Bootstrap Manager</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "maxime.png", class: "img-circle" %>
        <h2>Maxime</h2>
        <p>Yield Master</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "thomas.jpg", class: "img-circle" %>
        <h2>Thomas</h2>
        <p>Scss Web-designer</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "marion.jpg", class: "img-circle" %>
        <h2>Marion</h2>
        <p>Middleman chief executor</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "esther.jpg", class: "img-circle" %>
        <h2>Esther</h2>
        <p>Grid Modelist</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "karine.jpg", class: "img-circle" %>
        <h2>Karine</h2>
        <p>Front Moderator</p>
      </div>
    </div>
  </div>
