---
title: Le Wagon Middleman boilerplate
---
<div id="banner">
<h1> Styl.us </h1>
<div class="slogan">
  <h2> Turn your pen into you best friend </h2>
  <h2> Make every line you write count..</h2>
</div>

<%= link_to "GET YOUR STYLUS", "#", class: "btn btn-primary" %>
</div>

<div class="bg-blue">
<div class="container">
  <div class="row">
    <div = "col-lg-12">
      <div class="card">
        <%= image_tag "paper.svg" %>
        <h3> Natural writing</h3>
        <p>Don't change your habits, write with a pen on <strong>paper notebooks</strong></p>
      </div>
    </div>
    <div = "col-lg-12">
      <div class="card">
        <%= image_tag "computer.svg" %>
        <h3> Sync. copy</h3>
        <p>Stylus instantaneously copy your text on your computer, <strong>in real-time</strong> </p>
      </div>
    </div>
    <div = "col-lg-12">
      <div class="card">
        <%= image_tag "analytics.svg" %>
        <h3> Analytics</h3>
        <p>Get feedbacks on the way you write, your favorite words, your <strong>frequent mistakes</strong> </p>
      </div>
    </div>
    <div = "col-lg-12">
      <div class="card">
        <%= image_tag "data.svg" %>
        <h3> Storing your texts</h3>
        <p>Everything line writen with your stylus is stored in the cloud, so that  <strong>it's never lost</strong> </p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="bg-white text-center">
  <h2>Get news from stylus</h2>
  <p>Leave us your mail and get stylus news</p>
  <form action ="\" class="form-inline">
    <input type="email" class="form-control" placeholder="paul@gmail.com">
    <input type="submit" value="subscribe" class="btn btn-success">
  </form>
</div>
<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);
var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};
var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
  </script>
</div>
<div id="footer">
<ul class = list-inline>
  <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
</ul>
<p>Stylus is a fictive product by LeWagon</p>
